*{
    margin:0px;
    padding:0px;
}

.body-header{
    height: 90vh;
    background-image:url("img/clg-img.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px 50px;
}

.nav-bar{
    background-color: #665f6df9;
    height: 70px;
    line-height: 70px;
}

#brand{
    display: inline-block;
    margin-left: 70px;
    color: orange;
   text-decoration: underline;
   text-underline-offset: 3px;
   font-family:verdana;
   letter-spacing: 2px;
}

.nav-bar> ul{
    float: right;
}

.nav-bar> ul> li{
        display: inline-block;
        list-style: none;
        margin-right: 25px;
        text-transform: capitalize;
        letter-spacing :1px;
        position: relative;
}

.nav-bar> ul> li> a{
    color: white;
    text-decoration: none;
}

.nav-bar>ul >li >a >img{
    height: 20px;
   padding: 3px;
   margin-right:5px;
    vertical-align: middle;
}

.nav-bar> ul> li> a:hover{
    color:orange;
    text-decoration: underline;
    text-underline-offset: 7px;
    transition:all 0.5s ;   
}

.nav-bar> ul> li> a:hover img{
                    border-radius: 50%;
                   box-shadow: 0px 0px 5px 2px rgb(224, 221, 221);
                    transition: all 0.5s;
}

#home-info{
    height: 30vh;
    width: 50vw;
    display: none;
    background-color: #665f6df9;
    color: white;
    position:absolute;
    right: -350px ;
    line-height: normal;  
    margin-top: 5px; 
    padding: 20px;
}

.nav-bar> ul >li:hover #home-info{
        display: block;
}

#home-info> #boy{
    float: left;
    border-right: 2px solid white;
    margin-right: 70px ;
    >img{
        height:30vh;
        margin-right:100px;
    }
}